.App {
  display: flex;
  font-size: 15px;
  background-color: var(--very-light-gray);
}

@media (min-width: 900px) {
  .App {
    height: 100vh;
    /* background-image: url("./desktop-design.jpg"); */
  }
}


@font-face {
  font-family: "LexendDeca";
  font-weight: 400;
  src: url("./fonts/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BigShouldersDisplay";
  font-weight: 700;
  src: url("./fonts/BigShouldersDisplay-Bold.ttf") format("truetype");
}